body
{
width: 100%;
margin-left : auto;
margin-right: auto;
background-image: linear-gradient(#D2DDDF, #57A5D7);
background-repeat: repeat-x;
background-color: #57A5D7;
}

h1
{
text-align: center;
color: #bb713a;
text-shadow: 0px 0px 1px #777;
}

h2
{
text-align: center;
color: #3584ae;
text-shadow: 0px 0px 1px #777;
}

h3
{
text-align: center;

}

table{
border: 1px #6c6c6c;
border-collapse:collapse;
margin: auto;
background: #ebebeb;
width: 960px;
}

tr
{
border: 1px solid #6c6c6c;
}

th
{
border: 1px solid #6c6c6c;
}

td
{
border: 1px solid #6c6c6c;
padding: 2px;
}

#navigation {
list-style: none;
margin: -10px auto 0;
padding: 10px;
background-image: linear-gradient(#27abff, #0288ab);
text-align : center;
}

#navigation li {
color: #fff ;
border: none;
margin-bottom: 1px ;
display: inline;
padding-left: 20px;
padding-right: 20px;
}

#navigation li a {
color: #fff ;
font-weight:bold;
text-shadow: 0px 0px 4px #777;
text-align: center ;
text-decoration: none ;
}

#selection
{
width: 500px;
margin-left: auto;
margin-right: auto;
text-align: center;
}

#historique
{
margin-top: 20px;
margin-left: auto;
margin-right: auto;
padding: 20px;
width: 1000px;
border-width: 1px;
border-style: solid;
border-color: white;
background: #efefef;
}
